/*!*********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/profilePage/profilePage.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************/
.title h1, .title h1 {
  font-weight: 300;
}

.title button {
  background: orange;
  padding: .5rem 1rem;
  font-size: small;
  cursor: pointer;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/chat/chat.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.chat{
  height: 100%;
  display: flex;
  flex-direction: column;
}
.messages{
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow-y: scroll;
}

.message{
  background: #fff;
  padding: 20px;
}

.message span{
  font-weight: bold;
}

.chatBox{
  flex:1;
}

.chatMessage{
  width: 50%;
}
.chatMessage.own{
  align-self: flex-end;
  text-align: right;
}
.chatMessage span{
  background-color: #f7c14b85;
  font-size: 12px;
  padding: 2px;
  border-radius: 5px;
}
